.hero {
  height: 100vh;
  position: relative;
  object-fit: contain;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-flow: column;
  margin-left: 65px;
  z-index: 1;
}

.hero-title {
  font-size: 4.5vw;
  font-weight: 900;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);

}

.hero-description {
  max-width: 390px;
  padding-top: 20px;
  font-size: 1.4vw;
  line-height: 1.618;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.hero-gradient-top {
  width: 100%;
  height: 7.4rem;
  background: linear-gradient(
    360deg,
    transparent,
    rgba(5, 5, 5, 0.618),
    #111
  );
  position: absolute;
  top: 0;
}

.hero-gradient-bottom {
  width: 100%;
  height: 7.4rem;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(16, 16, 16, 0.618),
    #111
  );
  position: absolute;
  bottom: 0;
}

.hero-buttons {
  margin-top: 2rem;
}

.hero-button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  font-weight: 500;
  background-color: rgba(51, 51, 51, 0.5);
}

.hero-button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
